/* Marge de trois pourcents et police définie pour toute la page */
body
{
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Raleway';
    font-style: normal;
    color:black;
}

/* Couleur des icônes mis en bleu */
#bleu
{
    color: #0065FC;
}

#bleui
{
    color: #0065FC;
    width: 24px; 
    height: 24px; 
    border: 1px solid #D9D9D9;
    border-radius: 110px;
    text-align: center;
    padding:2.5px;
    margin-right: 7px;
}

/* Enlever l'effet de soulignement des liens */
a
{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#000;
    margin-bottom: 10%;
}

/* Retire les points des listes à puces */
ul
{
    list-style-type: none;
}


/* Au passage de la souris une bordure bleu apparait en haut */
#nav:hover
{
    border-top : solid;
    border-color: #0065FC;
    padding-top:41px;
    color:#0065FC;
}

/* Couleur des liens de navigation en bleu */
#nav
{
    padding-right: 77px;
    padding-left:67px;
    padding-top: 48px;
    text-align: center;
}

/* Logo mis à gauche et liens à droite */
.header
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

/* Bordure de la barre de recherche et alignement à gauche */
.border
{
    display: inline-flex;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}

/* Bordure des filtres et taille du texte*/
.Filtre
{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Fond bleu au passage de la souris sur les filtres */
.Filtre:hover
{
    background-color: #DEEBFF;
    opacity: 5;
}

/* Mise en ligne et à gauche des filtres */
.Filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

/* Couleur et bordure du bouton de recherche */
.btn
{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    padding: 5px;
    font-weight:bold ;
}

/* Espacement icone localisation */
#icon-i
{
    padding: 10px;
}

/* Nom emplacement en gras */
.Ville
{
    font-weight:bold ;
    font-size: 1em;
}

/* Alignement des éléments */
.hebergements1
{
    display: flex;
    flex-direction: row;
    gap: 31px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Alignement des éléments */
.hebergements2
{
    display: flex;
    flex-direction: row;
    gap: 31px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

/* Marge autour du titre "Hébergements à Marseille" */
#hebergements
{
    margin-left: 40px;
    margin-top: 42px;
}

/* Marge autour du titre "Afficher plus" */
h3
{
    margin-left: 44px;
    margin-bottom: 46px;
}

/* Fond gris et bordure pour la section */
.section1
{
    background: #F2F2F2;
    border-radius: 20px;
    height: 626px;
    width: 880px;
}

/* Fond et bordure des annonces */
.annonce
{
    background: #FFFFFF;
    border-radius: 20px;
    width: 246px;
}

/* Fond et bordure des annonces populaires */
.annonce2
{
    background: #FFFFFF;
    border-radius: 20px;
    height:153px;
    width: 343px;
    margin-left: 37px;
    margin-right:40px;
    margin-bottom: 33px;
}

/* Bordure et dimension des photos des annonces */
.photoannonce
{
    Width:235px;
    Height:124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

/* Bordure et dimension des photos des annonces populaires*/
.photoannonce2
{
    Width:137px;
    Height:144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

/* Marge et taille des caractères des titres principaux */
h1
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top:41px;
}

/* Taille des caractères des titres des annonces + marge */
h2
{
    color:#000;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 16px;
    margin-top: 4px;
}

/* Taille caractères */
p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Taille caractères sous-titre des annonces */
p.pannonce
{
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 16px;
    margin-top: 9px;
    margin-right: 26px;
    margin-bottom: 9px;
}

/* Titre et sous-titre des annonces populaires à la droite des images */
.ligne
{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

/* Couleur des étoiles et marge */
#bleuetoile
{
    color: #0065FC;
    margin-left: 16px;
    margin-bottom: 11px;
}

/* Mise en colonne avec fond gris des annonces populaires */
aside
{
    background: #F2F2F2;
    border-radius: 20px;
    flex-direction:column;
    height: 625px;
    width: 420px;
    margin-right: 60px;
}

/* Création de deux blocs d'annonces */
.tout
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 626px;
}

/* Marge du titre "Trouvez votre hébergement pour des vacances de rêve" */
.vac
{
    margin-top: 63px;
}

/* Dimensions de la page */
body
{
    margin-top: 44px;
    margin-left: 55px;
    margin-right: 177px;
    width:1440px;
    height: 1898px;
}

/* Bordure et dimension des photos des activités */
.photoactivites
{
    Width:302px;
    Height:444.51px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

/* Création du bloc activités */
.activites
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: #FFFFFF;
    gap: 43px;
}

/* Marge du titre "Activités à Marseille" */
#activites
{
    margin-top: 60px;
}

/* Marge du titre "Les plus populaires" */
.pop
{
    margin-left: 42px;
    margin-top: 41px;
    margin-right: 178px;
}

/* Dimension et fond des annonces populaires */
.activites1
{
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    height:445px;
    width: 302px;
}

/* Dimension et fond du bloc footer */
.footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #F2F2F2;
    gap: 248px;
    margin-top: 61px;
    height: 225px;
    width:1339px;
}