/* Marge de trois pourcents et police définie pour toute la page */
body
{
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Raleway';
    font-style: normal;
    color:black;
    width: 100%;
    max-width: 1400px;
}

/* Couleur des icônes mis en bleu */
.fa-star,.fa-person,.fa-money-bill-wave,.fa-heart,.fa-dog
{
    color:#0065FC;

}
.fa-star
{
    margin-bottom: 11px;
}

/* Couleur des icônes mis en bleu */
#bleug
{
    color: #0065FC;
    margin-top:8%;
}

#bleui
{
    color: #0065FC;
    width: 24px; 
    height: 24px; 
    border: 1px solid #D9D9D9;
    border-radius: 110px;
    text-align: center;
    padding:2.5px;
    margin-right: 7px;
}

/* Enlever l'effet de soulignement des liens */
a
{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#000;
    margin-bottom: 2%;
    height:100%;
    width:100%;
}

/* Retire les points des listes à puces */
ul
{
    list-style-type: none;
}

li
{
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Au passage de la souris une bordure bleu apparait en haut */
.nav:hover
{
    border-top : solid;
    border-color: #0065FC;
    padding-top:55px;
    color:#0065FC;
}

/* Couleur des liens de navigation en bleu */
.nav
{
    padding-right: 77px;
    padding-left:67px;
    padding-top: 48px;
    text-align: center;
}

/* Logo mis à gauche et liens à droite */
.header
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

/* Bordure de la barre de recherche et alignement à gauche */
.border
{
    display: inline-flex;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    width: 20%;
}

.section1
{
    width: 100%;
}

/* Bordure des filtres et taille du texte*/
.Filtre
{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Fond bleu au passage de la souris sur les filtres */
.Filtre:hover
{
    background-color: #DEEBFF;
    opacity: 5;
}

/* Mise en ligne et à gauche des filtres */
.Filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

/* Couleur et bordure du bouton de recherche */
.btn
{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    padding: 5px;
    font-weight:bold ;
    width:50%;
}

/* Espacement icone localisation */
#icon-i
{
    padding: 20px;
}

/* Nom emplacement en gras */
.Ville
{
    font-weight:bold ;
    font-size: 1em;
}

/* Alignement des éléments */
.hebergements1
{
    display: flex;
    flex-direction: row;
    gap: 31px;
    margin-left: 5%;
    margin-right: 5%;
}

/* Alignement des éléments */
.hebergements2
{
    display: flex;
    flex-direction: row;
    gap: 31px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5%;
}

/* Marge autour du titre "Hébergements à Marseille" */
#hebergements
{
    margin-left: 3%;
    margin-top: 3%;
}

/* Fond gris et bordure pour la section */
.section1
{
    background: #F2F2F2;
    border-radius: 20px;
    width: 67%;
}


/* Fond et bordure des annonces */
.annonce
{
    background: #FFFFFF;
    border-radius: 20px;
    width: 33%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    box-shadow: 3px 3px 5px #F2F2F2;
    margin-top: 5%;
}

#et1,#et2,#et3,#et4,#et5,#et6,#et7,#et8,#et9
{
    padding-left: 7%;
}

/* Fond et bordure des annonces populaires */
.annonce2
{
    display:flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 20px;
    height:25%;
    width: 80%;
    margin-left: 37px;
    margin-right:40px;
    margin-bottom: 33px;
}

.affi
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;
}

/* Bordure et dimension des photos des annonces */
.photoannonce
{
    width:95%;
    text-align: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    object-fit: cover;
}

/* Bordure et dimension des photos des annonces populaires*/
.photoannonce2
{
    width:40%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    height: 150px;
    object-fit: cover;
}

.titre
{
    font-weight: bold;
    margin-bottom:10px;
}

/* Marge et taille des caractères des titres principaux */
h1
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top:3%;
}

/* Taille des caractères des titres des annonces + marge */
h2
{
    color:#000;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 16px;
    margin-top: 4px;
}

/* Taille caractères */
p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Taille caractères sous-titre des annonces */
p.pannonce
{
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 16px;
    margin-top: 9px;
    margin-right: 26px;
    margin-bottom: 9px;
}

/* Titre et sous-titre des annonces populaires à la droite des images */
.ligne
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-right: 15%;
    width: 80%;
}

/* Titre et sous-titre des annonces populaires à la droite des images */
.ligne2
{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding-bottom: 7%;
}


/* Mise en colonne avec fond gris des annonces populaires */
aside
{
    background: #F2F2F2;
    border-radius: 20px;
    flex-direction:column;
    height: 100%;
    width: 33%;
    margin-right: 0;
}

/* Création de deux blocs d'annonces */
.tout
{
    display: flex;
    flex-direction: row;
    gap: 3%;
    width: 100%;
}

/* Marge du titre "Trouvez votre hébergement pour des vacances de rêve" */
.vac
{
    margin-top: 63px;
}

/* Dimensions de la page */
body
{
    margin-top: 5%;
    max-width:1440px;
}

/* Bordure et dimension des photos des activités */
.photoactivites
{
    Width:100%;
    Height:80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    padding: 1px;
}

/* Création du bloc activités */
.activites
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: #FFFFFF;
    gap: 3%;
}

/* Marge du titre "Activités à Marseille" */
#activites
{
    height:100%;
}

/* Marge du titre "Les plus populaires" */
.pop
{
    margin-left: 5%;
    margin-top: 5%;
}

/* Dimension et fond des annonces populaires */
.activites1
{
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    width: 25%;
    box-shadow: 3px 3px 5px #F2F2F2;
    height: 400px;
}

/* Dimension et fond du bloc footer */
.footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #F2F2F2;
    gap: 3%;
    margin-top: 2%;
    height: 100%;
    width: 100%;
}

.Toutesactivites
{
    height:100%;
    width:100%
}


/* ////////////////// MEDIA QUERIES////////////////// */

@media screen and (max-width: 767px)
{



    *
    {
        margin:0;
    }

    body
    {
        width: 100%;
        margin: 0;
    }

    .vac
    {
        color: crimson;
        width: 90%;
        margin-left: 5%;
        margin-top:5%
    }

    p.ouen
    {
        margin-left: 5%;
        margin-top: 2%;
    }

    .logo
    {
        height: 33px;
        margin-right: 33%;
        margin-left: 33%;
        margin-bottom: 5%;
    }


    .header
    {
        flex-wrap: wrap;
        margin-top: 3%;
    }

    .navbar
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom : solid;
        border-color: #F2F2F2;
        margin-left: 0%;
        margin-right: 0%;
    }

    .nav:hover
    {
        border-top: #FFFFFF;
        border-bottom : solid;
        border-color: #0065FC;
        color:#0065FC;
        padding-top: 0%;
    }

    .nav
    {
        padding-right: 3%;
        padding-left:3%;
        padding-top: 3%;
        text-align: center;
    }

    #nav1, #nav2
    {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    .Filtres
    {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-bottom: 5%;
        width: 95%;
        gap: 1%;
    }

    .Filtre
    {
        width: 40%;
        margin: 0;
    }

    .fil
    {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .fil1
    {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }

    .fil2
    {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }

    .tout
    {
        flex-wrap: wrap;
        flex-direction: column-reverse;   
    }

    aside
    {
        width:100%;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 0%;
        padding-right: 0%;
        margin-top: 5%;
        gap:0%;
        padding-bottom: 5%;
    }

    .section1
    {
        width:100%;
        background-color: white;
        margin-top: 3%;
    }

    .annonce
    {
        width:95%;
        margin-left: 3%;
    }

    .annonce2
    {
        width: 95%;
        justify-content: center;
        margin-right:0;
        margin-left: 2%;
        margin-bottom: 3%;
    }

    .hebergements1,.hebergements2
    {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .affi
    {
        display: none;
    }

    .activites
    {  
        flex-direction: column;
        flex-wrap: wrap;
        width:95%;
    }

    .activites1
    {
        width: 100%;
        padding: 3%;
        margin-bottom: 3%;
        height: 200px;
    }

    .footer
    {
        flex-direction: column;
    }

    .border
    {
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #Filtrestitre
    {
        width: 100%;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    .rechercher
    {
        display: none;
    }

    #et1,#et2,#et3,#et4,#et5,#et6,#et7,#et8,#et9
    {
        padding-left: 0;
        margin-left: 15px;
        margin-right:0;
    }

    li
    {
        padding-bottom: 0;
    }

    .pop
    {
        margin-bottom: 5%;
    }

    .photoannonce2
    {
        width: 50%;
    }

    .photoannonce
    {
        width: 98%;
    }

    #activites
    {
    margin-left: 3%;
    margin-top: 10%;
    margin-bottom: 5%;
    }



}







@media screen and (min-width:768px) and (max-width:991px)
{
    .vac
    {
        color:rgb(2, 141, 14);
    }

    body
    {
        height: 100%;
        margin-left: 2%;
        margin-right:2%;
    }

    .tout
    {
        flex-wrap: wrap;
        height: 100%;
    }

    .section1
    {
        width: 95%;
        height: 100%;
    }

    .annonce
    {
        width: 33%;
        height: 30%;
    }

    aside
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:95%;
        gap: 2%;
        margin-top: 5%;
        height: 100%;
    }

    .annonce2
    {
        width: 27%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .Toutesactivites
    {
        margin-left:2%;
        margin-right:2%;

    }
}









@media screen and (min-width:993px)
{
    .fa-magnifying-glass
    {
    visibility: hidden;
    display: none;
    position: absolute;
    left: -999em;
    }
}

